/* Keyframes für die Animationsleisten */
@keyframes slideBar {
    from { height: 0; }
    to { height: 5px; }
}

@keyframes slideOutBar {
    from { height: 5px; }
    to { height: 0; }
}

/* Benutzerdefinierte Navbar-Stile */
nav.navbar-themed {
    background-color: rgb(39, 39, 39);
    padding: 2px;
    display: flex;
    position: relative;
}

body.no-animation * {
  animation: none !important;
  transition: none !important;
}

nav.navbar-themed a {
    text-decoration: none;
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 17px;
    margin-right: 0px;
    margin-bottom: -2px;
    position: relative;
    font-size: 11px;
    text-transform: capitalize;
    letter-spacing: 1.05px;
    line-height: 16px;
}

nav.navbar-themed a:hover {
    color: rgb(255, 255, 0);
}

nav.navbar-themed a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2; /* Positioniert die Leiste am unteren Rand */
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgb(255, 255, 0);
    transition: height 0.3s;
}

nav.navbar-themed a.active::after {
    height: 5px;
    animation: slideBar 0.3s forwards;
}

nav.navbar-themed a:not(.active):hover::after {
    height: 5px;
    animation: slideBar 0.3s forwards;
}

nav.navbar-themed a:not(:hover):not(.active)::after {
    animation: slideOutBar 0.3s forwards;
}

text {
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
    padding: 6px;
}
