/* Keyframes sollten definiert werden, bevor sie verwendet werden */
@keyframes slideBar {
    from { height: 0; }
    to { height: 0.15em; }
}

@keyframes slideOutBar {
    from { height: 0.15em; }
    to { height: 0; }
}

/* Benutzerdefinierte Navbar-Stile */
nav {
    background-color: rgb(39, 39, 39);
    padding: 2px;
    display: flex;
    position: relative;
}

.nav-link,
.navbar-brand {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 17px;
    margin-right: 10px;
    margin-bottom: -2px;
    position: relative;
    font-size: 11px;
    letter-spacing: 1.05px;
    line-height: 16px;
}

.nav-link:hover,
.navbar-brand:hover {
    color: rgb(255, 255, 0);
}

.nav-link::after,
.navbar-brand::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgb(255, 255, 0);
    transition: height 0.3s, width 0.35s;
}

.nav-item.active::after {
    height: 0.15em;
    animation: slideBar 0.3s forwards;
    width: 100% !important;
}

.nav-link:not(.active):hover::after,
.navbar-brand:not(.active):hover::after {
    height: 0.15em;
    animation: slideBar 0.3s forwards;
    width: 100%;
}

.nav-link:not(:hover):not(.active)::after,
.navbar-brand:not(:hover):not(.active)::after {
    animation: slideOutBar 0.3s forwards;
}

.navbar-brand {
    margin-bottom: -14px;
    &::after {
        margin-top: -0.25em;
    }
}

text {
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
    padding: 6px;
}
