<!-- Collect tools from all uedns -->
{%- assign uedn_tools = blank -%}
{%- for uedn in site.uedn -%}
  {%- assign uedn_tools = uedn_tools | join:'|' | append:'|' -%}
  {%- if uedn_tools != '|' -%}
    {%- assign uedn_tools = uedn_tools | append:uedn_tools -%}
  {%- endif -%}
{%- endfor -%}
{%- assign uedn_tools = uedn_tools | split:'|' | uniq | sort -%}

<!-- List tools & related uedns -->
{% for tools in uedn_tools %}
<div class="py-3">
  <h4 id="{{ uedn_tools | slugify }}">{{ uedn_tools }}</h4>
  <ol>
  {% for uedn in site.uedn %}
    {%- if tools contains uedn_tools -%}
      {%- if uedn.external_url -%}
        {%- assign uedn_url = uedn.external_url -%}
      {%- else -%}
        {%- assign uedn_url = uedn.url | relative_url -%}
      {%- endif -%}
    <a href="{{ uedn_url }}"><li>{{ uedn_id }}</li></a>
    <br/>
    {%- endif -%}
  {% endfor %}
  </ol>
</div>
<hr class="bg-light">
{% endfor %}
